body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    background-color: #fff0da;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    color: #fff;
}

main {
    padding-bottom: 114px;
}
.main-page {
    position: relative;
    padding-bottom: 80px;
    min-height: calc(100vh - 108px);
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 992px) {
        min-height: calc(100vh);
    }
}

.page-loading {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(12px);
    background: #000000b3;
    .loading-box {
        width: 60px;
        height: 60px;
        border-radius: 8px;
        box-shadow: $card-shadow;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $back-color;
    }
}

header {
    position: relative;
    z-index: 99;
    @media (max-width: 992px) {
        position: fixed;
        width: 100%;
    }
    .header-content {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 108.34px;
        @media (max-width: 992px) {
            justify-content: center;
            background: #fff0da;
        }
        .header-left {
            .logo {
                padding-top: 15px;
                img {
                    width: 200px;
                }
            }
            @media (max-width: 992px) {
                img {
                    width: 168px;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
        }
        .header-right {
            display: flex;
            align-items: center;
            margin-top: 22px;
            margin-right: 30px;
            nav {
                ul {
                    display: flex;
                    align-items: center;
                    li {
                        margin-right: 11px;
                        margin-left: 11px;
                        a {
                            font-family: "DM Sans";
                            font-style: normal;
                            font-weight: 700;
                            font-size: 20.6579px;
                            line-height: 150%;
                            color: #323232;
                            padding-right: 11px;
                            padding-left: 11px;
                            text-transform: uppercase;
                            &.active {
                                color: $yellow;
                                background-color: $primary-color;
                            }
                        }
                    }
                }
            }
            @media (max-width: 992px) {
                display: none;
            }
        }
    }
}
.social-links {
    ul {
        display: flex;
        margin-left: 2px;
        li {
            margin-left: 9px;
            a {
                div {
                    background-color: $primary-color;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 29px;
                    height: 29px;
                }
            }
        }
    }
}
.mobile-menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    .hamburger {
        position: absolute;
        right: 20px;
        top: 17px;
        border: none;
        background-color: transparent;
    }

    @media (min-width: 992px) {
        display: none;
    }
    .mobile-nav {
        position: fixed;
        width: 100%;
        top: 90px;
        height: calc(100vh - 90px);
        z-index: 20;
        background: #fff0da;
        display: flex;
        flex-direction: column;
        align-items: center;
        .social-links {
        }
        nav {
            margin: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px dashed #edd7ae;
            height: calc(100% - 105px);
            width: calc(100% - 48px);
            ul li {
                margin: 16px 0;
                text-align: center;
                a {
                    font-family: "DM Sans";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20.6579px;
                    line-height: 150%;
                    text-decoration-line: underline;
                    text-transform: uppercase;
                    color: #323232;
                    text-align: center;
                    &.active {
                        color: #fae8c7;
                        background-color: $primary-color;
                        padding: 2px 11px;
                    }
                }
            }
        }
    }
}

.container {
    margin-top: -40px;
    @media (max-width: 992px) {
        margin-top: 0;
    }
    @media (max-width: 650px) {
        margin-top: 0;
        overflow: hidden;
    }
}

.image-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 992px;
    margin-right: auto;
    margin-left: auto;

    @media (max-width: 992px) {
        margin-top: 115px;
    }
    img.logo-text {
        height: 128px;
        @media (max-width: 1600px) {
            height: 100px;
        }
    }
    .liamas-content {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        position: relative;
        width: 100%;
        .img-box {
            width: calc(100% / 5);
            &:first-child {
                margin-right: 0px;
            }
            &:nth-child(2) {
                margin-left: 8px;
            }
            img {
                margin-left: 11px;
                margin-right: 11px;
                height: 254px;
                @media (max-width: 1600px) {
                    height: 220px;
                }
                &.img-origin {
                    display: block;
                }
                &.img-hover {
                    display: none;
                }
            }
            &:hover {
                .img-origin {
                    display: none;
                }
                .img-hover {
                    display: block;
                }
            }
        }

        @media (max-width: 1024px) {
            max-width: 744px;
            margin-left: -90px;
        }
        @media (max-width: 940px) {
            margin-left: -310px;
        }
        @media (max-width: 576px) {
            margin-left: -360px;
        }
    }
    @media (max-width: 1600px) {
        max-width: 744px;
    }
}

.banner-title {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-transform: uppercase;
    color: $yellow;
    padding: 0 22px;
    background-color: #4a391d;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
}

.home-content {
    max-width: 828px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 43px;
    text-align: center;
    h2 {
        font-family: "Economica";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 150%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #4a391d;
    }
    p {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #6c5f4c;
        margin-top: 24px;
    }
}

.banner-logo {
    img {
        height: 144px;
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 9;
    ul {
        background-color: #fae8c7;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 26px;
        padding-bottom: 26px;
        width: 100%;
        li {
            a {
                font-family: "DM Sans";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                text-decoration-line: underline;
                color: #6c5f4c;
                @media (max-width: 992px) {
                    font-size: 10.8728px;
                }
            }
            p {
                font-family: "DM Sans";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: #6c5f4c;
                margin-right: 40px;
                margin-left: 40px;
            }
        }
        @media (max-width: 1240px) {
            justify-content: flex-start;
            padding-left: 9px;
        }

        @media (max-width: 992px) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding-top: 16px;
            padding-bottom: 7px;
            li {
                &:first-child {
                    order: 2;
                }
                &:nth-child(2) {
                    order: 3;
                    margin-top: 7px;
                }
                &:last-child {
                    order: 1;
                }
            }
            a {
                font-size: 10.8728px;
                margin: 0;
            }
            p {
                font-size: 10.8728px !important;
                margin: 0 !important;
                order: 3 !important;
            }
        }
    }
    img {
        position: absolute;
        right: 44px;
        bottom: 0px;
        @media (max-width: 1600px) {
            height: 193px;
        }
        @media (max-width: 992px) {
            height: 111px;
            right: 14px;
        }
    }
}
span.hi-there {
    position: absolute;
    right: -130px;
    top: 5px;
    @media (max-width: 1600px) {
        right: -140px;
    }
    @media (max-width: 800px) {
        right: -110px;
        top: 60px;
        img {
            width: 82px;
        }
    }
    @media (max-width: 620px) {
        right: -150px;
        top: 60px;
    }
}

@media (max-width: 1600px) {
    .home-content {
        margin-top: 8px;
    }
}

@media (max-width: 904px) {
    .home-content {
        margin-top: 8px;
        margin-right: 36px;
        margin-left: 36px;
        h2 {
            font-size: 28px;
        }
        p {
            font-size: 18px;
            margin-left: 4px;
            padding-bottom: 80px;
        }
    }
}

@media (min-width: 2000px) {
    .banner-logo {
        img {
            height: 220px;
        }
    }
    header .header-content .header-right nav ul li a {
        font-size: 28px;
    }
    header .header-content .header-left .logo img {
        width: 280px;
    }
    .image-banner img.logo-text {
        height: 168px;
    }
    .image-banner .liamas-content .img-box img {
        height: 304px;
    }
    .container {
        overflow: initial;
    }
    .image-banner {
        min-width: 1132px;
    }
    .banner-title {
        font-size: 32px;
    }
    .home-content h2 {
        font-size: 42px;
    }
    .home-content p {
        font-size: 24px;
    }
    .social-links ul li a div {
        width: 36px;
        height: 36px;
    }
    .home-content {
        max-width: 1080px;
    }
    footer ul li a {
        font-size: 20px;
    }
    footer ul li p {
        font-size: 20px;
    }
    footer img {
        position: absolute;
        right: 44px;
        bottom: 0px;
        height: 220px;
    }
    header .header-content .header-right nav ul li {
        margin-right: 31px;
        margin-left: 31px;
    }
    social-links ul li {
        margin-left: 15px;
    }
}

@media (min-width: 2800px) {
    .banner-logo {
        img {
            height: 360px;
        }
    }
    social-links ul li {
        margin-left: 20px;
    }
    header .header-content .header-right nav ul li {
        margin-right: 31px;
        margin-left: 31px;
    }
    footer img {
        position: absolute;
        right: 44px;
        bottom: 0px;
        height: 280px;
    }
    footer ul li a {
        font-size: 30px;
    }
    footer ul li p {
        font-size: 30px;
    }
    header .header-content .header-right nav ul li a {
        font-size: 38px;
    }
    .social-links ul li a div {
        width: 48px;
        height: 48px;
        svg {
            width: 60%;
            height: 60%;
        }
    }
    header .header-content .header-left .logo img {
        width: 340px;
    }
    header .header-content .header-left .logo img {
        width: 340px;
    }
    .image-banner img.logo-text {
        height: 188px;
    }
    .image-banner .liamas-content .img-box img {
        height: 384px;
    }
    .image-banner {
        min-width: 1372px;
    }
    .banner-title {
        font-size: 45px;
    }
    .home-content h2 {
        font-size: 54px;
    }
    .home-content p {
        font-size: 32px;
    }
    .home-content {
        max-width: 1320px;
    }
}
