div.glitch-text {
    text-align: center;
}
h1.glitch {
    text-align: center;
    font-family: "Fascinate";
    font-style: normal;
    font-weight: 900;
    font-size: 75.5452px;
    line-height: 100%;
    animation: glitch 1s linear infinite;
    text-transform: uppercase;
}

@keyframes glitch {
    2%,
    64% {
        transform: translate(2px, 0);
        color: #6ae4ff;
        transform: translate(-22px, 5px) skew(21deg);
    }
    4%,
    60% {
        transform: translate(-2px, 0);
        color: #4a391d;
    }
    68% {
        transform: translate(-4px, 0);
        color: #ffaa21;
    }
    88% {
        transform: translate(-4px, 0);
        color: #4a391d;
    }
}

h1.glitch:before,
h1.glitch:after {
    content: attr(title);
    position: absolute;
    left: 0;
}

h1.glitch:before {
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
    2%,
    64% {
        transform: translate(2px, -2px);
    }
    4%,
    60% {
        transform: translate(-2px, 2px);
    }
    62% {
        transform: translate(13px, -1px) skew(-13deg);
    }
}

h1.glitch:after {
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {
    2%,
    64% {
        transform: translate(-2px, 0);
    }
    4%,
    60% {
        transform: translate(-2px, 0);
    }
    62% {
        transform: translate(-22px, 5px) skew(21deg);
    }
}
